<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie1.name %>
</p>

<p>
  <strong>Humanomordido1:</strong>
  <%= @zombie1.humanoMordido1 %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @zombie1.integer %>
</p>

<%= link_to 'Edit', edit_zombie1_path(@zombie1) %> |
<%= link_to 'Back', zombie1s_path %>
